<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
   </appSettings>
   <connectionStrings>
    <add name="FusionOperational" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=FusionOperational; MultipleActiveResultSets=True;" />
    <add name="msdb" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=msdb;" />
    <add name="master" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=master;" />
   </connectionStrings>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="SilverlightBasicHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
            <binding name="Husky.Services.IClientDataAccessService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
         </basicHttpBinding>
         <wsHttpBinding>
            <binding name="Husky.Services.IApplicationEventLogService">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
            </binding>
            <binding name="Husky.Services.ISiteDataAccessService" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
            <binding name="Husky.Services.IClientDataAccessService">
          <security mode="None" />
            </binding>
         </wsHttpBinding>
         <netTcpBinding>
            <!-- for Husky Host Device testing only -->
            <binding name="NetTcpBinding_HuskyHostDeviceService" sendTimeout="00:05:00" receiveTimeout="infinite">
          <reliableSession enabled="true" inactivityTimeout="infinite" />
          <security mode="None" />
            </binding>
            <!-- for Husky machine and data collector testing only -->
            <binding name="NetTcpBinding_IHuskyMachineService" sendTimeout="00:00:20" receiveTimeout="infinite" maxReceivedMessageSize="530000">
          <reliableSession enabled="true" inactivityTimeout="01:00:00" />
          <security mode="None" />
            </binding>
         </netTcpBinding>
         <webHttpBinding>
            <!--<binding name="Husky.Services.IClientDataAccessService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
            <binding name="Husky.Services.IClientDataAccessService_JSON" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
            <binding name="Husky.Services.IClientDataAccessService_POX" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>-->
         </webHttpBinding>
         <customBinding>
            <binding name="binaryHttpBinding">
               <binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
               </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
            </binding>
            <binding name="custom_MachineCommunicationBinding" sendTimeout="00:01:30" receiveTimeout="00:01:30">
          <transactionFlow transactionProtocol="OleTransactions" />
          <reliableSession inactivityTimeout="00:01:30" maxTransferWindowSize="64" />
               <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
               </binaryMessageEncoding>
          <tcpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
            </binding>
            <binding name="custom_NetTcpBinding_MachineChangeService" sendTimeout="00:01:30" receiveTimeout="00:01:30">
          <transactionFlow transactionProtocol="OleTransactions" />
          <reliableSession inactivityTimeout="00:01:30" maxTransferWindowSize="64" />
          <binaryMessageEncoding />
          <tcpTransport />
            </binding>
            <!-- *********** NEW FOR HTTP ************ -->
            <!-- TransactionFlow, ReliableSession, Security, CompositeDuplex, OneWay, StreamSecurity, MessageEncoding, Transport. -->
            <binding name="custom_Http_MachineCommunicationBinding" sendTimeout="00:01:30" receiveTimeout="00:01:30">
          <transactionFlow transactionProtocol="OleTransactions" />
          <reliableSession inactivityTimeout="00:01:30" maxTransferWindowSize="64" />
               <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
               </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
            </binding>
            <binding name="custom_HttpBinding_MachineChangeService" sendTimeout="00:01:30" receiveTimeout="00:01:30">
          <transactionFlow transactionProtocol="OleTransactions" />
          <reliableSession inactivityTimeout="00:01:30" maxTransferWindowSize="64" />
          <binaryMessageEncoding />
          <httpTransport />
            </binding>
            <!-- *********** NEW FOR HTTP ************ -->
         </customBinding>
         <netNamedPipeBinding>
            <binding name="RemoteViewerMachineServiceBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
            </binding>
         </netNamedPipeBinding>
      </bindings>
      <services>
          <service name="HL.Services.MachineService" behaviorConfiguration="MachineCommunicationServiceBehavior">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <endpoint address="net.tcp://localhost:8735/Design_Time_Addresses/HL.Services.DomainModelServicesHost/MachineService" binding="customBinding" bindingConfiguration="custom_MachineCommunicationBinding" contract="HL.Services.IMachineService">
               <identity>
                  <dns value="localhost" />
               </identity>
            </endpoint>
            <!-- *********** NEW FOR HTTP ************ -->
            <endpoint address="http://localhost/Design_Time_Addresses/HL.Services.DomainModelServicesHost/MachineService" binding="customBinding" bindingConfiguration="custom_Http_MachineCommunicationBinding" contract="HL.Services.IMachineService">
               <identity>
                  <dns value="localhost" />
               </identity>
            </endpoint>
            <!-- *********** NEW FOR HTTP ************ -->
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8733/Design_Time_Addresses/HL.Services.DomainModelServicesHost/MachineService" />
               </baseAddresses>
            </host>
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="MachineCommunicationServiceBehavior">
                <serviceMetadata httpGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="true" />
                <serviceThrottling maxConcurrentSessions="200" maxConcurrentCalls="100" />
                <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name="webBehavior">
          <webHttp />
            </behavior>
            <behavior name="jsonBehavior">
          <enableWebScript />
            </behavior>
                  <behavior name="LargeEndpointBehavior">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
               </behavior>
         </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>